local_config.py
*.DS_Store
*.pyc
*~
/venv
/permdir
/tmpdir
/dev.yaml
/test.yaml
/syncdb_dumps.bak
/.pydevproject
/.idea
/t.sql
*.swp
*.bak
#test
pylint.out
.coverage
api-coverage-reports/
apitest-reports/
web-checkpage-reports/
permdir_test/

.*.png

artery_server_client
mobile_register_client
estel_client

doc/_*
