
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="zh-cn"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="zh-cn"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="zh-cn"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="zh-cn">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Candyan">

    <title>一周菜单</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css"> 
    <!-- Custom styles for this template -->
    <link href="/static/css/all_menus_theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.min.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      <div class="container theme-showcase">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>北京广播电视维护中心</h1>
        <h3>订餐系统</>
      </div>

      <div class="panel panel-success">
          <div class="panel-heading">
              <h3 class="panel-title">一周菜单</h3>
          </div>
          {% for menu in menu_list %}
          <div class="panel-body">
          {{ menu }}
          </div>
          {% endfor %}
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
